.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.imagenLogo{
  width: 120%;
  height: 70px;
  margin-left: 1px;

}

.navbar .container-fluid .navbar-nav {
  margin-block-end: auto;
}
.navbar .container-fluid .navbar-nav .nav-link {
  color: black;
  text-transform: uppercase;
  margin-right: 30px;
  margin-left: 30px;
}

.navbar .container-fluid .navbar-nav .nav-link:hover {
  transition: 1.5s;
  transform: scale(1.1);
  background-color: white;
}

.form-control{
  margin-left: 100px;
}


.imagenCarrito{
  width: 5%;
  height: 40px;
}

.numberCarrito{
  margin-bottom: 20px;  
}


.imagenCentral{
  width: 100%;
  height: 500px;
}

.btnContador{
  margin-left: 3px;
  margin-right: 3px;
}




.btnComprar{
  margin-left: 10px;
}


.imagenAdd{
  margin-left: 50px;
  height: 30px;
}

.imagenRemove{
  margin-left: 40px;
  height: 30px;
}


/*Item*/

.imagenLibro{
  width: 100%;
  height: 20px;  
}


.card-title{
  text-transform: uppercase;
  font-size: 30px;
}

.card-precio{
  color: black;
  font-size: 30px;
}

.card-reseña{
  font-size: 15px;
}



/*ItemCount*/
/*
.btn-group{
  margin-left: 50px;
  margin-bottom: 10px;
  
}
*/

/*ItemListContainer*/
.saludo{
  text-align: center;
}