.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*NavBar*/

.imagenLogo{
  width: 120%;
  height: 50px;
  margin-left: 1px;
}
.navbar .container-fluid .navbar-nav {
  margin-left: auto;
  
}
.navbar .container-fluid .navbar-nav .nav-link {
  color: black;
  text-transform: uppercase;
  margin-right: 30px;
  margin-left: 30px;
  text-decoration: none;
}

.navbar .container-fluid .navbar-nav .nav-link:hover {
  transition: 1.5s;
  transform: scale(1.1);
  background-color: white;
}

.linkImg{
  text-decoration: none;
}
.imagenCarrito{
  width: 200%;
  height: 30px;
  text-decoration: none;
}

.numberCarrito{
  margin-left: 20px;
  margin-bottom: 20px;
}




.btnContador{
  margin-left: 3px;
  margin-right: 3px;
}

.btnComprar{
  margin-left: 10px;
}


.imagenAdd{
  margin-left: 50px;
  height: 30px;
}

.imagenRemove{
  margin-left: 40px;
  height: 30px;
}


/*Item*/

.imagenLibro{
  width: 100%;
  height: 50px;
}
.btnDetalles{
  width: 100%;
}


/*ItemDetail*/

.card-textTituloDetail{
  text-transform: uppercase;  
  font-size:xx-large;  
  text-align:left;
}

.textReseña{
  font-size:large; 
}

.card-textAutorDetail{
  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
}

.card-textIsbnDetail{
  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-textEditorialDetail{
  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-precioDetail{
  list-style: none;
  color: black;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-textItemCountDetail{
  list-style: none;
  color: black;
  margin-top: 20px;
  margin-bottom: 5px;
}

.card-textStockDetail{
  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
  color: black;
  margin-top: 30px;
  
}




.tituloCart{
  text-align:center;
  color: black;
  text-transform: uppercase;
  font-size: 28px;
  font-weight:bold ;
  margin-bottom: 3%;
}

.articuloCart{
  text-align:left;
  text-transform: uppercase;
  font-size: 20px;
  font-weight:bold
}

.imagenCart{
  width:80%;
  height: auto;
  margin-top: 5%;
  margin-left: 7%;
  margin-bottom: 5%;
  
}

.resumenCart{
  margin-left: 100px;
  
  text-transform: uppercase;
}

.btnVaciarCarrito{
  margin-top: 30px
}
.imagenBorrar{
  height: 20px;
  margin-right: 2px;
}

.btnFinalizarCompra{
  text-decoration: none;
  margin-bottom: 2%;
  margin-top: 5%;
}


.tituloMiCarrito{
  text-align: center;
  text-transform: uppercase;
  margin-top: 2%;
  margin-bottom: 5%;
  
}

/*Carrito Vacio*/
.textCarritoVacio{
  text-transform: uppercase;
  text-align: center;
  margin-top: 2%;
}

.imagenFlecha{
  height: 35px;
  margin-left: 4%;
  
}

.imagenCarritoVacio{
  margin-left: 43%;
  margin-top: 8%;
}



/*Finalizar Compra*/

.finalizarCompra{
  display: grid;
  grid-template-columns: 0.5fr repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; } 

.titulo{
  text-align: center;
  text-transform: uppercase;
  margin-top: 2%;
}

.tituloFin{
  text-align: center;
  text-transform: uppercase;
  margin-top: 18%;
}


.tituloSecundario{
  margin-left: 1%;
  margin-bottom: 2%;
}

.tituloSecundario1{
  margin-left: 1%;
  margin-top: 1%;
  
}

.textoConfirmacion{
  margin-left: 1%;
  text-align: center;
  font-size: 18px;
  
}

.btnVolverFinCompra{
  margin-left: 1%;
  margin-top: 10px;
}

.imagenFlechaFinCompra{
  height: 35px;
  margin-left:550px;
  margin-top: 10px;
}

.datosFacturacion{
  display: grid;
  grid-template-columns: 0.5fr repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }

.formNombre{
  margin-bottom: 15px;
}

.formApellido{
  margin-bottom: 15px;
}

.formEmail{
  margin-bottom: 15px;
}


.botonCompletarDatos{
  margin-left: 450px;
  margin-top: 20px;
}


/*cartItem*/
.cartItem{
  display: grid;
  grid-template-columns: 0.5fr repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; } 

.tituloCartItem{
  text-align:left;
  color: black;
  text-transform: uppercase;
  font-size: 28px;
  font-weight:bold ;
  margin-bottom: 3%;
}

.descripcionCartItem{
  margin-bottom: 3%;
  text-align:left;
  font-size: 20px;
}

.imagenBorrarCartItem{
  margin-left: 3%;
  margin-top: 10%;
}

.imagenBorrarCartItem1{
 margin-left: 3%;
  margin-top: 10%;
}

.btnCartItem{
  margin-left: 1%;
  margin-top: 10%;
}

/*FOOTER*/

.logoLinkedin{
  height: 20px;
  margin-left: 600px;
}

.logoGit{
  height: 20px;
  margin-left: 10px;
}

.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover{
  text-decoration: none;
  color: #25d366;
  background-color:#fff;
}                    
.my-float{
  margin-top:16px;
}